[Unit]
Description=Run SNMP Collector every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=snmp_collector.service

[Install]
WantedBy=timers.target
