[Unit]
Description=Run Suricata to DB every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=Suricata_to_DB.service

[Install]
WantedBy=timers.target
