[Unit]
Description=Python topology service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/CS425_Capstone/Georges_Scripts/arp_topology.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
