#page-content {
    margin-left: 15%;
    /* padding: 1px 16px; */
    height: 100vh;
}

.content-wrapper {
    display: flex;
}

.div1 {
    background-color: #31363F;
    text-align: center;
    width: 20%; /* Adjust as needed */
    /* padding: 10px; */
    height: 100vh;
    box-sizing: border-box;
    border-right: 2px solid #76ABAE;
}

.div2 {
    background-color: #31363F;
    width: 80%; /* Adjust as needed */
    padding: 10px;
    box-sizing: border-box;
}

.set-option {
    /* border: 2px solid #76ABAE;*/
    padding: 10px;
    margin: -1px; 
    cursor: pointer;
}

.set-option:hover {
    background-color: #76ABAE;
    color: #fff;
}

.set-option.active {
    background-color: #76ABAE;
    color: #fff;
}
