#ET EXPLOIT Cisco ASA and Firepower Path Traversal Vulnerability M2 (CVE-2020-3452)
suppress gen_id 1, sig_id 2034263, track by_src, ip 192.168.100.15

#ET WEB_SERVER Possible XXE SYSTEM ENTITY in POST BODY.
suppress gen_id 1, sig_id 2018056, track by_src, ip 134.197.7.170

#GPL WEB_SERVER 403 Forbidden
suppress gen_id 1, sig_id 2101201, track by_src, ip 192.168.100.15
