<!DOCTYPE html>
<!--devices.html-->
<html lang="en" data-theme="light">
<head>
  <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/honeypot/style.css') }}">
  
</head>
<body>

<!-- Placeholder for Navigation Menu -->


<!-- Page Content -->
<div id="page-content" style="padding:1px 16px;height:1000px;">
  <h2 id = "show-text">Honeypot Logs</h2>
</div>


<script src="{{ url_for('static', path='js/honeypot/app.js') }}" defer></script>
<script src="{{ url_for('static', path='js/theme/app.js') }}" defer></script>

</body>

</html>
