<ul>
  <li><a href="{{ url_for('home') }}" data-page="{{ url_for('home') }}">Dashboard</a></li>
  <li><a href="{{ url_for('topology') }}" data-page="{{ url_for('topology') }}">Topology</a></li>
  <li><a href="{{ url_for('honeypot-page') }}" data-page="{{ url_for('honeypot-page') }}">Honeypot</a></li>
  <li><a href="{{ url_for('devices') }}" data-page="{{ url_for('devices') }}">Devices</a></li>
  <li><a href="{{ url_for('ips') }}" data-page="{{ url_for('ips') }}">IPS</a></li>
  <li><a href="{{ url_for('sniffer') }}" data-page="{{url_for('sniffer')}}">Packet Sniffer</a></li>
  <li><a href="{{ url_for('settings') }}" data-page="{{ url_for('settings') }}">Settings</a></li>
  <li><a href="{{ url_for('accounts') }}" data-page="{{ url_for('accounts') }}">Accounts</a></li>
  <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Fun</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
