<!DOCTYPE html>
<html lang="en" data-theme="light" data-font="medium">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/settings/style.css') }}">
</head>

<body>
  <div id="page-content">
    <div class="content-wrapper">
      <div class="div1">
        <h2>Settings</h2>
        <div class="settings">
          <!-- <p id="settings_network" class="set-option" onclick="setActive(this)">Network</p>
        <p id="settings_security" class="set-option" onclick="setActive(this)">Security</p>
        <p id="settings_security" class="set-option" onclick="setActive(this)">Profiles</p> -->
          <p id="settings_appearance" class="set-option" onclick="setActive(this)">Appearance</p>

          <p id="settings_configuration" class="set-option" onclick="setActive(this)">Configuration</p>
          <p id="settings_notifications" class="set-option" onclick="setActive(this)">Notifications</p>

        </div>
      </div>
      <div class="div2">
        <div id="theme-settings-container">
          <h3>Appearance Settings</h3>
          <iframe src="/f/theme-settings" width="100%" frameborder="0" id="theme-settings-frame"></iframe>
        </div>
        <div id="config-settings-container">
          <h3>Configuration Settings</h3>
          <iframe src="/f/config-settings" width="100%" frameborder="0" id="config-settings-frame"></iframe>
        </div>
        <div id="notifications-settings-container">
          <h3>Notification Settings</h3>
          <iframe src="notification-settings" width="100%" frameborder="0" id="config-settings-frame"></iframe>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', path='js/theme/app.js') }}" defer></script>
  <script src="{{ url_for('static', path='js/settings/app.js') }}" defer></script>

</body>

</html>