<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/SIEM/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packet Capture Utility</title>
</head>
<body>


   <div id="page-content" style="max-width: 100%; margin: 0 auto; overflow-x: auto;">
      <h1> SIEM Page</h1>
      
    </div>

    <script src="{{ url_for('static', path='js/SIEM/app.js') }}"></script>
    <script src="{{ url_for('static', path='js/theme/app.js') }}" defer></script>
</body>
</html>
