<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sniffer/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packet Capture Utility</title>
</head>
<body>


    <div id="page-content">
        <label for="device_selection_box">Select a device:</label>
        <select id="device_selection_box"></select>

        <button id="start_capture">Start Capture</button>
        <button id="stop_capture">Stop Capture</button>

        <button id="make_pcap">Generate and Download PCAP</button>
        <form id="downloadForm" action="/generate_and_download_pcap" method="post" style="display:none;"></form>

        
        <!-- Panel to show device info -->
        <div id="device_info_panel" style="display: none; border: 1px solid #ccc; padding: 10px; margin-top: 10px;"></div>

        <br><br>
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" id="start_time" />
        <label for="end_time">End Time:</label>
        <input type="datetime-local" id="end_time" />
        <br><br>
        <pre id="output"></pre>

        <div id="chart-container">
            <canvas id="net_chart"></canvas>
            <canvas id="transport_chart"></canvas>
            <canvas id="application_chart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='js/sniffer/app.js') }}"></script>
    <script src="{{ url_for('static', path='js/theme/app.js') }}" defer></script>
</body>
</html>
